<link href="/cover.css" rel="stylesheet">
<div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Death is coming.</h1>
            <p class="lead">What will your epitaph say? Will it be true?</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>contact@soon.rip</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
