<div class="row landing-header justify-content-center" style="margin-top: 35vh;">
    <h1 class="text-primary">Death is coming.</h1>
</div>
<div class="row justify-content-center">
    <p class="lead">What will your epitaph say? Will it be true?</p>
</div>
<div class="row fixed-bottom justify-content-center">
    <div class="inner">
        <p>contact@soon.rip</p>
    </div>
</div>
