@import "bootstrap_custom";
body {
    background-image: image-url('Dot_Gradient_Blue_Top.png');
    background-position: 0 -170px;
    background-repeat: repeat-x;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: 0.3rem;
}

nav {
    background-color: $darkestblue;
    color: $red;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: $headings-font-family;
    img {
        vertical-align: text-bottom;
    }
    span.navbar-brand {
        padding: 0;
    }
    margin-bottom: 3rem;
}

.landing-header {
    h4 {
        margin-bottom: 3rem;
    }
}

.tombstone {
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    color: $black;
    width: 50vw;
    height: 50vh;
    margin: 0;
    max-height: 50vh;
    .epitaph-container {
        width: 18vw;
        margin: auto;
        margin-top: 9vh;
        h3 {
            font-size: 3.3vw;
        }
        h4, h5 {
            font-size: 2.5vw;
        }
    }
}
.tombstone-1 { background-image: url(image_path('Tombstone_1')); }
.tombstone-2 { background-image: url(image_path('Tombstone_2')); }

.fade-darker {
    background-image: url(image_path('Dot_Gradient_Blue'));
    background-position: bottom;
    background-repeat: repeat-x;
}

.darker {
    background-color: $darkerblue;
}

form.themed-form {
    .form-control {
        background-color: transparent;
        color: $white;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .form-control:focus {
        border-color: $red;
    }
    label, .form-control {
        border-bottom: .15rem solid $red;
        border-radius: 0;
    }
    label {
        color: $blue;
        padding-left: 0;
        margin-left: 15px;
    }
    .btn {
        border-radius: 0;
        color: $white;
        background-color: $red;
        font-family: $font-family-serif;
        text-transform: uppercase;
        padding: 1rem 3rem;
        letter-spacing: 0.1rem;
    }
}
