$red:    #ff2525;
$darkred: #720206;
$darkestblue: #1a1a25;
$darkerblue: #29293b;
$darkblue: #34465e;
$blue: #7191bb;

$brand-primary:             $red;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $white;

$body-bg:       $darkerblue;
$body-color:    $white;
$inverse-bg:    $white;
$inverse-color: $darkerblue;

$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

$font-family-serif:      'Roboto Slab', Georgia, "Times New Roman", Times, serif;
$headings-font-family: $font-family-serif;

